#header, #cards, #cards_top, #right_cards, #subnavigation, .breadcrumb, #footer {
  display: none !important;
}

body {
  background: white !important;
  margin: 25px 30px !important;
}

.card {
  box-shadow: none;
}

#content-page, #content, body.container {
  width: 100%;
  margin: 25px 30px !important;
}

h1.title:after {
  content: ' - Cal State Monterey Bay ';
  font-size: 80%;
}

#pageheader {
  padding: 0 !important;
  width: 100% !important;
  float: none !important;
}
